.taskDone {
  color: blue;
  font-size: 4rem;
}

.totalTask {
  color: gray;
  font-size: x-large;
}

.taskDonecardContainer {
  width: 25rem !important;
  margin: 10px 0 10px 0 !important;
  border-radius: 10% !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}

@media only screen and (max-width: 600px) {
  .taskDonecardContainer {
    width: 20rem !important;
  }
}
